<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pictures</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="mb-3">
      <form method="post" enctype="multipart/form-data">
        <div>
          <label for="file">Choose file to upload</label>
          <input type="file" id="file" name="file" />
        </div>
        <div>
          <button>Submit</button>
        </div>
      </form>
    </div>
    <% pictures.forEach(function(picture){ %>
    <div class="text-center">
      <img class="mb-3" src="/pictures/<%=picture%>" style="width: 100%" />
      <h4><%=picture%></h4>
    </div>
    <% });%>
  </body>
</html>
